
<!DOCTYPE html>
<html lang="en">
  
<head>
   <meta charset="UTF-8" />
   <title>About</title>
   <link rel="stylesheet" href="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css" type="text/css" />
   <link rel="stylesheet" type="text/css" href="css/site.css">  
</head>
<body>
	<header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>myApp</h1>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> <a href="/"> Home </a> </li>
						<li> <a href="/about"> About </a> </li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	   <div class="row">
				<section class="main col-md-12">
					<article>
                    <h2>"Jacob Robinson - the Developer"</h2>
                    <p>Hi There:</p>
                    <p>Welcome to my web page - I am glad that you are here.</p>
                    <p>My name is Jacob and I am a third semester student in the BSD program at Seneca College.</p>
                    <p>I have some experience in HTML, CSS, and Javascript, and I like to make web development projects in my spare time.</p>
                    <p>I hope that after completing this BTI325 course that I will have learned new concepts that I may apply to real life.</p>
                    <p>Someday, I hope to work for IBM or Google.</p>
                    <p>Thanks for reading!</p>
                    <p>-Jacob</p>
                </article>
				</section>
		</div>
	</div>
   <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>© 2017 - Jacob Robinson </h2>
			</div>
		</div>
	</div>
   </footer>
</body>

</html>