<div class="row">
	<div class="main col-md-12">
		<article>
			<h2>Jacob Robinson - "the developer"</h2>
                    <p>Hi There:</p>
                    <p>Welcome to my web page - I am glad that you are here.</p>
                    <p>My name is Jacob and I am a third semester student in the BSD program at Seneca College.</p>
                    <p>I have some experience in HTML, CSS, and Javascript, and I like to make web development projects in my spare time.</p>
                    <p>I hope that after completing this BTI325 course that I will have learned new concepts that I may apply to real life.</p>
                    <p>Someday, I hope to work for IBM or Google.</p>
                    <p>Thanks for reading!</p>
                    <p>-Jacob</p>
		</article>
	</div>
</div>